body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    background-color: blue;
}

#intro {
    text-align: center;
    margin-top: 20px;
}

#questions {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: rgb(117, 28, 28);
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-top: 10px;
}

#result {
    margin-top: 20px;
}

#timer {
    margin-top: 10px;
}

#score {
    margin-top: 10px;
}

.hide {
    display: none;
}

.show {
    display: block;
}
#questions {
    margin-top: 20px;
    background-color: green; 
    padding: 20px;
    border-radius: 5px;
}